/*this title is for information about the main title*/

body{
  background-color: #f2f2f2;
}

h1{
  	font-size: 36px; 
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    background-color: #450003;
    color: #f2f2f2;
    text-align: center;
  }

h2{
font-family: 'Muli', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 24px;
background-color: #222222;
color: #f2f2f2;
}

/*this title is for information about the font choice*/
h3{
font-size: 13px;
color:#222222;
line-height: 10px;
margin-left: -20%;
}

/*paragraph text*/
p{
font-family: 'Taviraj', serif;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}




/*ignore things below for now*/
.row {
  display: flex;
}

.column {
/*   flex: 33%;*/
 padding-left: 30%;
padding-right: 30%;

}
div{
  column-count:1;
   column-fill: inherit;
  column-width:30%;
}
